textarea, textarea:focus {
	outline: none;
	border-style: none;
	border-color: transparent;
	overflow: auto;
	font-size: 30px;
	/*text-align: justify;*/
	line-height: 1.4em;
	font-family: Baskerville;
}

body {
	background-color: #fefefe;
	color: rgba(0,0,0,.8);
	font-family: futura;
}

.nav {
	margin-top: 10px;
	margin-bottom: 10px;
}

input.btn, .nav>li>a:not(.brand), .nav>li>a:not(.brand):focus {
	color: rgba(0,0,0,.8);
	border: solid 1px rgba(0,0,0,.8);
	border-radius: 2px;
	background-color: transparent;
	transition: all .3s;
	font-size: 16px;
	padding: 7px 15px;
}

input.btn:hover, .nav>li>a:hover, .nav>li>a.active {
	background-color: rgba(0,0,0,.8);
	color: white;
}

.nav>li>a.brand:hover {
	background-color: transparent;
}

.date {
	/*margin-bottom: 25px;*/
	margin-bottom: 25px;
	margin-top: 50px;
}

.entry-title {
	color: rgba(208,2,27,.8);
	/*border-bottom: 1px solid;
	padding-bottom: 6px;*/
	line-height: 1.5em;
}

.entry-day {
	color: rgba(0,0,0,.4);
	padding-left: 10px;
}

.date-pick, .date-pick:hover {
	border-bottom: solid 1px rgba(0,0,0,.8);
	padding-bottom: 5px;
	cursor: pointer;
}

.form-signin {
	max-width: 330px;
	padding: 15px;
	margin: 0 auto;
}

@media (min-width: 992px) {
	.container {
		width: 1000px;
	}
}